/* ---------------------------- Другое------------------------------------------------ */

* {
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  color: #6DD5D7;
}

body {
  box-sizing: border-box;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  position: absolute;
  width: 95%;
  height: 100%;
  display: table;
  align-items: center;
  justify-content: center;
}

.industrys {
  width: 80%;
  position: absolute;
  margin-top: 2%;
  margin-left: 4.5%;
  z-index: 1;
}

.title_home {
  margin: 0;
  padding: 1% 0 2% 0;
  width: 100%;
  text-align: center;
  font-size: 175%;
  /*mix-blend-mode: overlay;*/
}

.news_cont {
  z-index: 3;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.news_title {
  z-index: 4;
  text-align: center;
  margin: 0 4.5% 0.5% 4.5%;
  padding: 1% 0 1% 0;
  background-color: #2A2E36;
  border-radius: 25px;
}

.news_tab {
  z-index: 4;
  width: 91%;
  margin: 0 4.5% 0 4.5%;
  padding: 2%;
  background-color: #2A2E36;
  border-radius: 25px;
}

.news_txt, .news_pr, .news_day {
  z-index: 4;
  font-size: 100%;
  font-weight: normal;
  border-radius: 10px;
}

.news_pr, .news_day {
  z-index: 4;
  padding: 7px;
  text-align: left;
}

/* ----------------------------------------------------------------------------------- */

/* ------------------------ Скрол ---------------------------------------------------- */

body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track {
    background: #876F6D;
}
body::-webkit-scrollbar-thumb {
    background-color: #2A2E36;
    border-radius: 2px;
    border: 0px solid #876F6D;
}

/* ----------------------------------------------------------------------------------- */

/* ------------------------------ Панель --------------------------------------------- */

header {
  z-index: 1;
  position: fixed;
  width: 10%;
  height: 7.5%;
  background-color: #2A2E36;
  border-radius: 0 0 35px 0;
}

nav {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

nav ul {
  list-style: none;
}

nav ul li a {
  top: 10%;
  left: 5%;
  position: absolute;
  background: #2A2E36;
  border-radius: 10px;
  transition: 0.5s;
}

.m_music {
  margin-left: 40%; /*  25  */
}

.m_videos {
  margin-left: 50%;
}

nav ul li a:hover {
  background: #00676F;
}

/* ----------------------------------------------------------------------------------- */

/* ------------------------------ Фильмы --------------------------------------------- */

.film {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  background: #453F43FF;
}

.film_00 {
  margin: 3% 20%;
  padding: 0;
}

.video {
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
  background-color: black;
}

.item_title {
  z-index: 1;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.films_0 {
  margin: 0;
  display: grid;
  grid-template-columns: 284px 284px 284px 284px;
  justify-content: center;
  place-items: center;
}

.film_0 {
  margin: 5%;
  max-width: 284px;
  max-height: 450px;
  justify-content: center;
  place-items: center;
}

.film-img {
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.txt {
  position: absolute;
  margin-top: 45px;
  margin-left: 10px;
  font-size: 100%;
  display:inline-block;
  color: #6DD5D7;
}

.txt_1 {
  position: absolute;
  margin-top: 45px;
  margin-left: 10px;
  font-size: 100%;
  display:inline-block;
  color: #6DD5D7;
}

.page_title {
  width: 100%;
  height: 10%;
  text-align: center;
  color: #6DD5D7;
}

.page_title h1 {
  font-size: 5vh;
}

.opis {
  margin-top: 10px;
}

/* ----------------------------------------------------------------------------------- */

/* -------------------------------- Музыка ------------------------------------------- */

/* Важная часть */
.popup__bg {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
}

.popup {
  z-index: 3;
  position: fixed;
  top: 0%;
  left: 0%;
  transform: scale(0);
  background: #000;
  height: 100%;
  width: 30%;
  padding: 25px;
}

.popup.active {
  transform: scale(1);
}
/* Конец важной части */
/* Далее код для стилизации формы */


.music_close {
  z-index: 6;
  background-color: #000;
  border-radius: 5% 100% 100% 5%;
  width: 3.5vh;
  height: 5.5vh;
  position: absolute;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  top: 0;
  left: 72%;
  text-align: left;
  transition: 0.5s;
  cursor: pointer;
}

.music_close:hover {
  background-color: #00676F;
}


#myProgress {
  height: 5%;
  background-color: #2A2E36; 
  cursor: pointer;
  border-radius: 10px;
  transition: 0.25s;
}

#myProgress:hover {
  background-color: #00676F;
}
  
#myBar {
  height: 100%;
  background-color: #6DD5D7;
  border-radius: 10px;
}
  
.btn-action{
  left: 0;
  top: 0;
  cursor: pointer;
  padding: 0;
  height: 100%;
}

.nav_m {
  border-radius: 100%;
  background-color: #2A2E36;
  left: 0;
  top: 0;
  transition: 0.5s;
}

.nav_m:hover {
  background-color: #00676F;
}
  
.btn-ctn, .infos-ctn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.infos-ctn{
  width: 100%;
  height: 30%;
  padding: 0%;
}
  
.btn-ctn > div {
  margin-top: 6%;
  width: 4%;
}

.info_ctn{
  position: fixed;
  width: 100%;
  height: 30%;
  left: 0;
  bottom: 8%;
  background-color: #876F6D;
}

.timer {
  margin: 0;
  max-width: 720px;
}

.duration {
  margin-right: 2%;
  max-width: 720px;
}
  
.title_m{
  width: 95%;
  text-align: center;
}

.player-ctn{
  display: inline-block;
  border-radius: 15px;
  padding: 10px;
}
  
.playlist-track-ctn{
  margin-top: 2px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #2A2E36;
  transition: 0.5s;
  display: inline-flex;
  width: 100%;
}

.playlist-track-ctn:hover {
  background-color: #00676F;
}
  
.playlist-track-ctn > div{
  margin: 1%;
}

.playlist-info-track{
  margin-left: 1%;
  text-align: left;
  width: 80%;
}

.playlist-info-track,.playlist-duration{
  padding: 7px 0 7px 0;
  color: #8CD3EB;
  font-size: 14px;
  pointer-events: none;
}

.playlist-ctn{
  position: fixed;
  width: 100%;
  height: 72%;
  top: 0;
  left: 0;
  margin-bottom: 0; 
  overflow: auto;
}

.playlist-ctn::-webkit-scrollbar {
  width: 12px;
}
.playlist-ctn::-webkit-scrollbar-track {
  background: #876F6D;
}
.playlist-ctn::-webkit-scrollbar-thumb {
  background-color: #2A2E36;
  border-radius: 2px;
  border: 0px solid #876F6D;
}

.active-track{
  background: #739986;
  color: #00676F;
  font-weight: bold;
}

.active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play{
  color: #00676F;
}

#btn-faws-back, #btn-faws-next,
#btn-faws-play-pause {
  left: 0;
  top: 0;
  margin: 0%;
  width: 60px;
  height: 60px;
}

/* ----------------------------------------------------------------------------------- */

/* ------------------------- Адаптация ----------------------------------------------- */
@media screen and (max-width:480) {
  header {
    bottom: 0;
    width: 100%;
    height: 7.5%;
    border-radius: 0 0 0 0;
  }
}

@media screen and (min-width: 480px) {
  header {
    bottom: 0;
    width: 100%;
    height: 7.5%;
    border-radius: 0 0 0 0;
  }
  .content {
    width: 95%;
  }
  .intro {
    width: 90%;
  }
  .music_cont {
    width: 75%;
  }
  .info_ctn{
    height: 24%;
  }
  .music_close {
    margin-left: 73%;
  }
  .music_close_1 {
    height: 1%;
    font-size: 135%;
  }
  .music_close_2 {
    margin-left: 75%;
    width: 25%;
  }
  .btn-ctn {
    width: 100%;
    height: 100%;
  }
  .btn-action{
    width: 100%;
    height: 100%;
    padding-top: 0%;
    margin: 0 12% 0 12%;
  }
  .playlist-info-track,.playlist-duration, .title_m, .timer, .duration{
    font-size: 24px;
  }
  .fas {
    width: 100%;
    height: 100%;
  }
  .title_home {
    font-size: 100%;
  }
  .films_0 {
    grid-template-columns: 284px 284px;
  }
}

@media screen and (min-width: 640px) {
  header {
    bottom: 0;
    width: 100%;
    height: 7.5%;
    border-radius: 0 0 0 0;
  }
  .intro {
    width: 90%;
  }
  .music_cont {
    width: 75%;
  }
  .info_ctn{
    height: 24%;
  }
  .music_close {
    margin-left: 73%;
  }
  .music_close_1 {
    height: 1%;
    font-size: 135%;
  }
  .music_close_2 {
    margin-left: 75%;
    width: 25%;
  }
  .btn-ctn {
    width: 100%;
    height: 100%;
  }
  .btn-action{
    width: 100%;
    height: 100%;
    padding-top: 0%;
    margin: 0 12% 0 12%;
  }
  .playlist-info-track,.playlist-duration, .title_m, .timer, .duration{
    font-size: 24px;
  }
  .fas {
    width: 100%;
    height: 100%;
  }
  .title_home {
    font-size: 100%;
  }
  .films_0 {
    grid-template-columns: 284px 284px;
  }
}

@media screen and (min-width: 750px) {

  header {
    bottom: 0;
    width: 100%;
    height: 7.5%;
    border-radius: 0 0 0 0;
  }
  .intro {
    width: 92%;
  }
  .music_cont {
    width: 75%;
  }
  .info_ctn{
    height: 23%;
  }
  .music_close {
    margin-left: 73%;
  }
  .music_close_1 {
    height: 3%;
    font-size: 135%;
  }
  .music_close_1 {
    height: 2%;
    font-size: 135%;
  }
  .music_close_2 {
    margin-left: 75%;
    width: 25%;
  }
  .btn-ctn {
    width: 100%;
    height: 100%;
  }
  .btn-action{
    padding-top: 0%;
    margin: 0 11% 0 11%;
  }
  .playlist-info-track,.playlist-duration, .title_m, .timer, .duration{
    font-size: 20px;
  }
  .title_home {
    font-size: 125%;
  }
  .films_0 {
    grid-template-columns: 284px 284px;
  }
}

@media screen and (min-width: 1080px) {
  header {
    top: 0;
    width: 7%;
    height: 7.5%;
    border-radius: 0 0 35px 0;
  }
  .intro {
    width: 95%;
  }
  .music_cont {
    width: 50%;
  }
  .info_ctn{
    height: 22%;
  }
  .music_close {
    margin-left: 48%;
  }
  .music_close_1 {
    height: 3%;
    font-size: 135%;
  }
  .music_close_2 {
    margin-left: 50%;
    width: 50%;
  }
  .btn-ctn {
    width: 100%;
    height: 100%;
  }
  .btn-action{
    padding-top: 0%;
    margin: 0 9% 0 9;
  }
  .playlist-info-track,.playlist-duration, .title_m, .timer, .duration{
    font-size: 16px;
  }
  .title_home {
    font-size: 150%;
  }
  .films_0 {
    grid-template-columns: 284px 284px 284px;
  }
}

@media screen and (min-width: 1300px) {
  header {
    top: 0;
    width: 7%;
    height: 7.5%;
    border-radius: 0 0 35px 0;
  }
  .intro {
    width: 96%;
  }
  .music_cont {
    width: 30%;
  }
  .info_ctn{
    height: 21%;
  }
  .music_close {
    margin-left: 28%;
  }
  .music_close_1 {
    height: 4%;
    font-size: 135%;
  }
  .music_close_2 {
    margin-left: 30%;
    width: 70%;
  }
  .btn-ctn {
    width: 100%;
    height: 100%;
  }
  .btn-action{
    padding-top: 2.7%;
    margin: 0 6% 0 6%;
  }
  .playlist-info-track, .playlist-duration, .title_m, .timer, .duration{
    font-size: 14px;
  }
  .title_home {
    font-size: 150%;
  }
  .nav_m {
    width: 100%;
    height: 100%;
  }
  .films_0 {
    grid-template-columns: 284px 284px 284px 284px;
  }
}

@media screen and (min-width: 1366px) {
  header {
    top: 0;
    width: 7%;
    height: 7.5%;
    border-radius: 0 0 35px 0;
  }
  .intro {
    width: 96%;
  }
  .info_ctn {
    height: 20%;
  }
  .music_close {
    margin-left: 28%;
  }
  .music_close_1 {
    height: 5%;
    font-size: 135%;
  }
  .btn-ctn {
    width: 100%;
    height: 100%;
  }
  .btn-action{
    margin: 0 7% 0 7%;
  }
  .title_home {
    font-size: 150%;
  }
  .films_0 {
    grid-template-columns: 284px 284px 284px 284px;
  }
}
/* ----------------------------------------------------------------------------------- */