/* ---------------------------- Другое------------------------------------------------ */

:root {
  --main-bg-color: #323232;
  --main-bl-color: #2A2E36;
  --main-tb-color: #876F6D;
  --main-tx-color: #6DD5D7;

  --title-font-size: 32pt;
  --text-font-size: 18pt;
  --text-micro-font-size: 14pt;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--main-tx-color);
  border: none;
  box-sizing: border-box;
} a {
  text-decoration: none;
} li {
  list-style: none;
} img {
  width: 100%;
  height: 100%;
}
body {
  background: var(--main-bg-color);
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10vh 0 0 0;
  align-items: center;
  justify-content: center;
}

.industrys {
	width: 80vw;
	margin: 1.5% 0;
	text-align: center;
	font-size: var(--text-font-size);
}

/* -- home ------------ */

.title_home {
  width: 80vw;
	padding: .5% 0;
	text-align: center;
	font-size: var(--title-font-size);
}

/* news_title */
.news_title {
	width: 80vw;
	padding: .5% 0;
	text-align: center;
	font-size: var(--title-font-size);
	border-radius: 10px;
	background-color: var(--main-bl-color);
}

/* news_days */
.news_days {
	width: 80vw;
	margin: 1.5% 0 0 0;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 39% 39% 20%;
}
.news_days p {
  display: flex;
	padding: 5px 0;
	border-radius: 10px;
	background-color: var(--main-bl-color);
  text-align: center;
	font-size: var(--text-micro-font-size);
  align-items: center;
  justify-content: center;
}

/* ----------------------------------------------------------------------------------- */
/* ------------------------ Скрол ---------------------------------------------------- */

body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: var(--main-bl-color);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main-tb-color);
}

/* ----------------------------------------------------------------------------------- */
/* ------------------------------ Панель --------------------------------------------- */

header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 100%;
  height: 50px;
  background-color: var(--main-bl-color);
  justify-content: left;
  align-items: center;
}

.header_linc {
  display: flex;
  width: fit-content;
  width: 45px;
  height: 45px;
  margin: 0 0 0 10px;
  padding: 5px;
  border-radius: 10px;
  transition: background-color .5s;
  justify-self: center;
  align-items: center;
}
.header_linc:hover {
  background-color: #FFFFFF12;
}

/* ----------------------------------------------------------------------------------- */
/* -------------------------------- Музыка ------------------------------------------- */

.info_ctn{
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75px;
  background-color: var(--main-bl-color);
  align-items: center;
}

#myBar[type=range] {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
}
#myBar[type=range]::-webkit-slider-runnable-track {
  height: 7px;
  border-radius: 5px;
  background-color: var(--main-tx-color);
}
#myBar[type=range]::-webkit-slider-thumb {
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  margin-top: -4px;
  border-radius: 50%;
  border: solid 1px var(--main-tx-color);
  background: var(--main-bg-color);
}

#myBar[type=range]::-moz-range-track {
  height: 7px;
  border-radius: 5px;
  background-color: var(--main-tx-color);
}
#myBar[type=range]::-moz-range-thumb {
  cursor: pointer;
  width: 15px;
  height: 15px;
  -moz-appearance: none;
  margin-top: -4px;
  border-radius: 50%;
  border: solid 1px var(--main-tx-color);
  background: var(--main-bg-color);
}

.info_btn {
  width: 8vh;
  height: 8vh;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: #FFFFFF00;
  transition: background-color .3s;
}
.info_btn:hover {
  background-color: #FFFFFF12;
}

.infos-ctn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.infos-ctn p {
  margin: 0 5px;
} .duration {
  margin: 0 15px 0 0;
}

.popup__bg {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
}

.close-popup {
  position: absolute;
  left: 100%;
  top: 0;
  font-size: 16pt;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0 0 5px 0;
  background-color: #000;
}

.popup {
  position: fixed;
  top: 0%;
  left: 0%;
  background: #000;
  height: 90%;
  width: 32%;
}

.playlist-ctn{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.playlist-track-ctn{
  width: 100%;
  display: inline-flex;
  margin: 1px 0;
  cursor: pointer;
  border-radius: 6px;
  background-color: #2A2E36;
  transition: 0.2s;
}

.playlist-track-ctn:hover {
  background-color: #00676F;
}
  
.playlist-track-ctn > div{
  margin: 0.25%;
}

.playlist-info-track{
  width: 80%;
  text-align: left;
  padding: 7px;
  color: #8CD3EB;
  font-size: 12pt;
  pointer-events: none;
}

.playlist-duration {
  width: 80%;
  text-align: right;
  padding: 7px;
  color: #8CD3EB;
  font-size: 12pt;
  pointer-events: none;
}



.playlist-ctn::-webkit-scrollbar {
  width: 12px;
}
.playlist-ctn::-webkit-scrollbar-track {
  background: #876F6D;
}
.playlist-ctn::-webkit-scrollbar-thumb {
  background-color: #2A2E36;
  border-radius: 2px;
  border: 0px solid #876F6D;
}

.active-track{
  background: #739986;
  color: #00676F;
  font-weight: bold;
}

.active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play{
  color: #00676F;
}
/* ----------------------------------------------------------------------------------- */
/* ------------------------- Адаптация ----------------------------------------------- */
/* ----------------------------------------------------------------------------------- */