/* ---------------------------- Другое------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--main-tx-color);
  border: none;
  box-sizing: border-box;
} a {
  text-decoration: none;
} li {
  list-style: none;
} img {
  width: 100%;
  height: 100%;
}
body {
  background: var(--main-bg-color);
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10vh 0 0 0;
  align-items: center;
  justify-content: center;
}

.industrys {
  width: 100%;
  font-size: 14pt;
  margin-top: 2%;
  z-index: 1;
}

.title_home {
  margin: 0;
  padding: 1% 0 2% 0;
  width: 100%;
  text-align: center;
}
.title {
  text-align: center;
  font-size: 40pt;
  font-weight: 1000;
}

.news_cont {
  z-index: 3;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.news_title {
  z-index: 4;
  text-align: center;
  font-size: 18pt;
  padding: 1% 0 1% 0;
  background-color: #2A2E36;
  border-radius: 25px;
}

.news_tab {
  z-index: 4;
  width: 100%;
  margin-top: 0.5%;
  padding: 2%;
  background-color: #2A2E36;
  border-radius: 25px;
}

.news_help {
  z-index: 4;
  width: 87%;
  margin: 0.5% 0 0 0%;
  padding: 2%;
  background-color: #2A2E36;
  border-radius: 25px;
}

.news_txt, .news_pr, .news_day {
  z-index: 4;
  font-size: 14pt;
  font-weight: normal;
  border-radius: 14px;
}

.news_pr, .news_day {
  padding: 7px 0px 7px 2px;
  text-align: left;
}

/* ----------------------------------------------------------------------------------- */
/* ------------------------ Скрол ---------------------------------------------------- */

body::-webkit-scrollbar {
    width: 4px;
}
body::-webkit-scrollbar-track {
    background: #876F6D;
}
body::-webkit-scrollbar-thumb {
    background-color: #2A2E36;
    border-radius: 2px;
    border: 0px solid #876F6D;
}

/* ----------------------------------------------------------------------------------- */
/* ------------------------------ Панель --------------------------------------------- */

header {
  z-index: 2;
  position: fixed;
  width: 100px;
  height: 45px;
  background-color: #2A2E36;
  border-radius: 0 0 35px 0;
}

nav {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

nav ul {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 10% 0%;
}

nav ul li a {
  width: 40px;
  height: 40px;
  position: absolute;
  background: #2A2E36;
  border-radius: 10px;
  transition: 0.5s;
}
.m_home {
  left: 5%;
}

.m_music {
  left: 50%;
}

nav ul li a img {
  width: 100%;
  height: 100%;
}

nav ul li a:hover {
  background: #00676F;
}

/* ----------------------------------------------------------------------------------- */
/* -------------------------------- Музыка ------------------------------------------- */

.info_ctn{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  background-color: #2A2E36;
}

.btn-ctn {
  display: flex;
  align-items: center;
  margin: 0 0 0 0.5%;
  height: 100%;
}

.btn-action{
  height: 100%;
  padding: 0 1% 0 1%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

#btn-faws-back, #btn-faws-next,
#btn-faws-play-pause {
  margin: 2.5px 0%;
  width: 55px;
  height: 55px;
  transform: translate(0%, 0%);
}

.nav_m {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #876F6D;
  transition: 0.4s;
}

.nav_m:hover {
  background-color: #876F50;
}

.infos-ctn {
  display: flex;
  align-items: center;
  width: 79%;
  height: 100%;
  justify-content: center;
}

.time {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 0 0 2%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title_m{
  display: flex;
  padding: 0 2% 0 4%;
  width: 25%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#myProgress {
  width: 100%;
  height: 12%;
  background-color: #876F6D; 
  cursor: pointer;
  border-radius: 10px;
  transition: 0.25s;
}

#myProgress:hover {
  background-color: #876F50;
}
  
#myBar {
  height: 100%;
  background-color: #6DD5D7;
  border-radius: 10px;
}

.timer {
  padding: 0 1%;
}

.duration {
  padding: 0 1%;
}




.popup__bg {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
}

.close-popup {
  position: absolute;
  left: 100%;
  top: 0;
  font-size: 16pt;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0 0 5px 0;
  background-color: #000;
}

.popup {
  position: fixed;
  top: 0%;
  left: 0%;
  background: #000;
  height: 90%;
  width: 32%;
}

.playlist-ctn{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.playlist-track-ctn{
  width: 100%;
  display: inline-flex;
  margin: 1px 0;
  cursor: pointer;
  border-radius: 6px;
  background-color: #2A2E36;
  transition: 0.2s;
}

.playlist-track-ctn:hover {
  background-color: #00676F;
}
  
.playlist-track-ctn > div{
  margin: 0.25%;
}

.playlist-info-track{
  width: 80%;
  text-align: left;
  padding: 7px;
  color: #8CD3EB;
  font-size: 12pt;
  pointer-events: none;
}

.playlist-duration {
  width: 80%;
  text-align: right;
  padding: 7px;
  color: #8CD3EB;
  font-size: 12pt;
  pointer-events: none;
}



.playlist-ctn::-webkit-scrollbar {
  width: 12px;
}
.playlist-ctn::-webkit-scrollbar-track {
  background: #876F6D;
}
.playlist-ctn::-webkit-scrollbar-thumb {
  background-color: #2A2E36;
  border-radius: 2px;
  border: 0px solid #876F6D;
}

.active-track{
  background: #739986;
  color: #00676F;
  font-weight: bold;
}

.active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play{
  color: #00676F;
}
/* ----------------------------------------------------------------------------------- */
/* ------------------------- Адаптация ----------------------------------------------- */

@media screen and (max-width: 480px)  {
  header {
    top: 0;
    width: 100%;
    height: 45px;
    border-radius: 0;
  }

  main {
    width: 100%;
    height: 100%;
    margin-left: 0%;
  }
  .industrys {
    font-size: 8pt;
  }
  .news_title {
    font-size: 10pt;
  }
  .news_txt, .news_pr, .news_day {
    font-size: 8pt;
    text-align: center;
  }
  .music_cont {
    width: 75%;
  }
  .popup {
    width: 75%;
    height: 90%;
  }
  .title_m {
    display: flex;
    flex-flow: column;
    width: 30%;
  }
  .slesh {
    display: none;
  }
  .timer, .duration{
    display: flex;
    flex-flow: column;
    width: 20%;
    font-size: 8pt;
  }
  .title_home {
    margin-top: 9vh;
    font-size: 16pt;
  }
  #btn-faws-back, #btn-faws-next,
  #btn-faws-play-pause {
    margin: 2.5px 0 0 0;
    width: 45px;
    height: 45px;
    transform: translate(0%, 0%);
  }
  #myProgress {
    width: 35%;
    height: 15%;
    border-radius: 3px;
    transition: 0.25s;
  }
  #myBar {
    border-radius: 3px;
  }
}

@media screen and (max-width: 568px) {
  header {
    top: 0;
    width: 100%;
    height: 45px;
    border-radius: 0;
  }
  main {
    width: 100%;
    height: 100%;
    margin-left: 0%;
  }
  .industrys {
    font-size: 9pt;
  }
  .news_title {
    font-size: 12pt;
  }
  .news_txt, .news_pr, .news_day {
    font-size: 9pt;
    text-align: center;
  }
  .m_home {
    left: 35%;
  }
  .m_music {
    left: 55%;
  }
  .music_cont {
    width: 75%;
  }
  .popup {
    width: 65%;
    height: 90%;
  }
  .playlist-info-track,.playlist-duration, .title_m, .timer, .duration{
    font-size: 9pt;
  }
  .title {
    font-size: 20pt;
  }
  .slesh {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  header {
    top: 0;
    width: 100%;
    height: 45px;
    border-radius: 0;
  }
  main {
    width: 100%;
    height: 100%;
    margin-left: 0%;
  }
  .industrys {
    font-size: 10pt;
  }
  .news_title {
    font-size: 16pt;
  }
  .news_txt, .news_pr, .news_day {
    font-size: 10pt;
    text-align: center;
  }
  .m_home {
    left: 35%;
  }
  .m_music {
    left: 55%;
  }
  .music_cont {
    width: 75%;
  }
  .popup {
    width: 55%;
    height: 90%;
  }
  .playlist-info-track,.playlist-duration, .title_m, .timer, .duration{
    font-size: 10pt;
  }
  .title{
    font-size: 18pt;
  }
  .slesh {
    display: flex;
  }
}

/* ----------------------------------------------------------------------------------- */